
button {
    width:150px;
    Height:40px;
    color:black
}
.timer {
    position: right;
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20vw;
    background-color: #f0ead6;
}
h3 {
    padding: 25px;
}
a {
    padding: 25px;
}
.start_container, .end_container, .score_container {
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    padding: 50px;
  }

  section.quiz_container{
    position: relative;
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    height: 200px;
  }
  section.quiz_container1{
    position: relative;
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    height: 200px;
  }
  section.quiz_container2{
    position: relative;
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    height: 200px;
  }
  section.quiz_container3{
    position: relative;
    display: block;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
    height: 200px;
  }
  div.answer_list{ 
    align-content: center;
  }


